{% extends 'base.html.twig' %}

{% block title %}Wayfapper - Karte{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="./css/leaflet.css">
    <link rel="stylesheet" href="./css/easy-button.css">
    <style>
        body {
            padding: 0;
            margin: 0;
        }
        html, body, #map {
            height: 100%;
            width: 100vw;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script src="./js/leaflet.js"></script>
    <script src="./js/easy-button.js"></script>
    <script src="./js/svg-icon.js"></script>
{% endblock %}

{% block body %}
    <div id="map"></div>
{% endblock %}

{% block javascripts_footer %}
    <script src="./js/map.js"></script>
    <script>
        const defaultSettings = {
            mapCenter: [53.548, 10.236],
            mapZoom: 14.5
        };
        var defaultMapStyle = '{{ tile_server }}';

        initMap();
    </script>
{% endblock %}